{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('set') }}" method=post class=set>
      <dl>
        <dt>Operation:
        <dd><select name=op >
				<option>aus</option>
				<option>test</option>
				<option>zeile1</option>
				<option>zeile2</option>
				<option>zeile3</option>
			</select></dd>
        <dt>Color:</dt>
        <dd><input type=color value=Set name=color></dd>
        <dd><input type=submit value=Set></dd>
      </dl>
    </form>
{% endblock %}