{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('set') }}" method=post class=set>
      <dl>
        <dt>Operation:
        <dd><select name=op >
				<option>aus</option>
				<option>test</option>
				<option>zeile1</option>
				<option>zeile2</option>
				<option>zeile3</option>
			</select></dd>
        <dt>Color:</dt>
        <dd><input type=color value=Set name=color></dd>
        <dd><input type=submit value=Set></dd>
      </dl>
    </form>
    <form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Test" />  <input type="hidden" name="op" value="test"/> </form></td>
	<table>	
	<tr><td>Zeile1</td> 
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Aus" />  <input type="hidden" name="color" value="#000000"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Blau" />  <input type="hidden" name="color" value="#0000FF"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Grün" />  <input type="hidden" name="color" value="#00FF00"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Orange" />  <input type="hidden" name="color" value="#FF8000"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Rot" />  <input type="hidden" name="color" value="#FF0000"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Gelb" />  <input type="hidden" name="color" value="#FFFF00"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Weiß" />  <input type="hidden" name="color" value="#FFFFFF"/><input type="hidden" name="op" value="zeile1"/> </form></td>
	</tr>
	<tr><td>Zeile2</td> 
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Aus" />  <input type="hidden" name="color" value="#000000"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Blau" />  <input type="hidden" name="color" value="#0000FF"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Grün" />  <input type="hidden" name="color" value="#00FF00"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Orange" />  <input type="hidden" name="color" value="#FF8000"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Rot" />  <input type="hidden" name="color" value="#FF0000"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Gelb" />  <input type="hidden" name="color" value="#FFFF00"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Weiß" />  <input type="hidden" name="color" value="#FFFFFF"/><input type="hidden" name="op" value="zeile2"/> </form></td>
	</tr>
	<tr><td>Zeile3</td> 
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Aus" />  <input type="hidden" name="color" value="#000000"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Blau" />  <input type="hidden" name="color" value="#0000FF"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Grün" />  <input type="hidden" name="color" value="#00FF00"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Orange" />  <input type="hidden" name="color" value="#FF8000"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Rot" />  <input type="hidden" name="color" value="#FF0000"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Gelb" />  <input type="hidden" name="color" value="#FFFF00"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	<td><form action="{{ url_for('set') }}" method=post class=set>  <input type="submit" value="Weiß" />  <input type="hidden" name="color" value="#FFFFFF"/><input type="hidden" name="op" value="zeile3"/> </form></td>
	</tr>
	
	</table>
	
{% endblock %}